.brand {
  position: relative;
}

.brand__symbol {
  vertical-align: middle;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  opacity: 1;
  transition: all var(--animation-duration) var(--animation-function);
}

.brand__wordmark {
  vertical-align: middle;
  width: 100%;
  opacity: 1;
  transition: all var(--animation-duration) var(--animation-function);
}

.brand .st0,
.brand .st1,
.brand .st2 {
  transition: fill var(--animation-duration-slow) var(--animation-function);
}


/*
 * Symbol SVG
 */

.brand__symbol .st0 {
  fill: transparent; /* var(--color-lightyellow); */
}

.brand__symbol .st1 {
  fill: var(--color-darkgray);
}

.brand__symbol .st2 {
  fill: color(var(--color-darkgray) a(50%));
}


/*
 * Wordmark SVG
 */

.brand__wordmark .st0 {
  fill: var(--color-darkgray);
}
