.brand {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.brand__symbol {
  vertical-align: middle;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  opacity: 1;
  transition: all var(--animation-duration) var(--animation-function);
}

.brand__wordmark {
  vertical-align: middle;
  width: 100%;
  opacity: 1;
  transition: all var(--animation-duration) var(--animation-function);
}

.brand .st0,
.brand .st1,
.brand .st2 {
  transition: fill var(--animation-duration-slow) var(--animation-function);
}


/*
 * Horisontal variation
 */

.brand.brand--horisontal:after {
  content: "";
  display: table;
  clear: both;
}

.brand.brand--horisontal .brand__symbol {
  float: left;
  width: 25%;
  margin-bottom: 0;
  margin-left: 0;
}

.brand.brand--horisontal .brand__wordmark {
  float: right;
  width: 70%;
  margin-top: 7%;
}


/*
 * Colors
 */

/* Default colors */
.brand__symbol .st0 { fill: var(--color-gray); }
.brand__symbol .st1,
.brand__symbol .st2 { fill: var(--color-lightgray); }
.brand__wordmark .st0 { fill: var(--color-darkgray); }

/* Inverse wordmark for dark backgrounds */
.brand--inverse-wordmark .brand__wordmark .st0 { fill: var(--color-lightgray); }

/* Light gray badge */
.brand--lightgraybadge .brand__symbol .st0 { fill: var(--color-lightgray); }
.brand--lightgraybadge .brand__symbol .st1,
.brand--lightgraybadge .brand__symbol .st2 { fill: var(--color-darkgray); }

/* Dark gray badge */
.brand--darkgraybadge .brand__symbol .st0 { fill: var(--color-darkgray); }
.brand--darkgraybadge .brand__symbol .st1,
.brand--darkgraybadge .brand__symbol .st2 { fill: var(--color-lightgray); }

/* Blue badge */
.brand--bluebadge .brand__symbol .st0 { fill: var(--color-blue); }
.brand--bluebadge .brand__symbol .st1,
.brand--bluebadge .brand__symbol .st2 { fill: var(--color-lightgray); }

/* Yellow badge */
.brand--yellowbadge .brand__symbol .st0 { fill: var(--color-yellow); }
.brand--yellowbadge .brand__symbol .st1,
.brand--yellowbadge .brand__symbol .st2 { fill: var(--color-darkgray); }

/* Orange badge */
.brand--orangebadge .brand__symbol .st0 { fill: var(--color-orange); }
.brand--orangebadge .brand__symbol .st1,
.brand--orangebadge .brand__symbol .st2 { fill: var(--color-lightgray); }

/* Green badge */
.brand--greenbadge .brand__symbol .st0 { fill: var(--color-green); }
.brand--greenbadge .brand__symbol .st1,
.brand--greenbadge .brand__symbol .st2 { fill: var(--color-lightgray); }

/* No badge */
.brand--nobadge .brand__symbol .st0 { fill: transparent; }
.brand--nobadge .brand__symbol .st1,
.brand--nobadge .brand__symbol .st2 { fill: var(--color-darkgray); }
.brand--nobadge.brand--inverse-wordmark .brand__symbol .st1,
.brand--nobadge.brand--inverse-wordmark .brand__symbol .st2 { fill: var(--color-lightgray); }
