.clientlist {
  margin-right: calc(-1 * var(--content-padding-h));
  margin-left: calc(-1 * var(--content-padding-h));
}

.clientlist__item {
  display: block;
  margin: var(--content-padding-v) var(--content-padding-h);

  font-size: var(--rem-l);
  font-family: var(--sans-family);
  font-weight: var(--sans-bold);
  line-height: 1.25;
}

.clientlist__item a:hover {
  text-decoration: underline;
}

@media (min-width: 481px) {
  .clientlist__item {
    display: inline-block;
  }
}
