.header {
  padding: var(--body-padding-v) var(--body-padding-h);
}

.header__brand {
  opacity: 0;
  left: 0;
  animation: brand-slide var(--animation-function) var(--animation-duration-slow) 720ms forwards,
    brand-fade var(--animation-function) var(--animation-duration) 720ms forwards;
  width: 240px;
  max-width: 40vw;
  transition: all var(--animation-duration) var(--animation-function);
}

.header__navbar {
  position: absolute;
  top: var(--body-padding-v);
  right: var(--body-padding-h);
}

@keyframes brand-slide {
  from { left: -300px; }
  to { left: 0; }
}

@keyframes brand-fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
