.tour {

}

.tour__map {
}

.tour__map-image,
.tour__map-key {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.tour__map-image {
  max-width: var(--content-width--l);
}

.tour__map-key {
  color: var(--color-darkblue);
  list-style: decimal;

  margin-top: var(--content-padding-v);
  margin-bottom: var(--content-padding-v);
  max-width: var(--content-width--s);
}
.tour__map-key:after {
  content: "";
  display: table;
  clear: both;
}

.tour__map-key-item {
  font-family: var(--sans-family);
  font-weight: var(--sans-bold);
  font-size: var(--rem-s);

  display: list-item;
  float: left;
  width: 160px;
  padding-right: 2em;
  padding-left: 1em;
}
.tour__map-key-item:nth-child(odd) {
  clear: left;
}

.tour__map-key-item .button {
  color: var(--color-blue);
}
