/**
 * Tour component
 */

.tour {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}



/* Tour Map
   ==================================================================== */

.tour__map { }

/* Map image and locations
*/
.tour__map-canvas {
  position: relative;
  max-width: 1070px; /* Natural width of image */
  margin-right: auto;
  margin-left: auto;
}

/* Map image */
.tour__map-canvas-image {
  min-width: 100%;
}

/* Buttons on image */
.tour__map-canvas-button {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;

  transition: all 90ms ease-out;

  background-color: var(--color-yellow);
  border: 2px solid var(--color-darkgray);
  border-radius: 50%;
  box-shadow: 1px 2px 3px rgba(0,0,0,.05);

  font-family: var(--sans-family);
  font-weight: var(--sans-bold);
  line-height: 30px;
}
/* Button active state */
.tour__map-canvas-button.is-active {
  background-color: var(--color-orange);
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
}
/* Larger buttons on large screens */
@media (min-width: 769px) {
  .tour__map-canvas-button {
    width: 48px;
    height: 48px;
    margin-top: -24px;
    margin-left: -24px;
    font-size: var(--rem-l);
    line-height: 44px;
  }
  .tour__map-canvas-button.is-active {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
  }
}
/* Button positions */
.tour__map-canvas-button[data-target="tour-1"] { top: 70%; left: 40%; /* 1. Försäljningsstrategi */ }
.tour__map-canvas-button[data-target="tour-2"] { top: 60%; left: 20%; /* 2. Försäljningsprocesser */ }
.tour__map-canvas-button[data-target="tour-3"] { top: 48%; left: 15%; /* 3. Kompetensutveckling */ }
.tour__map-canvas-button[data-target="tour-4"] { top: 12%; left: 23%; /* 4. Säljrekrytering */ }
.tour__map-canvas-button[data-target="tour-5"] { top: 24%; left: 44%; /* 5. Säljverktyg */ }
.tour__map-canvas-button[data-target="tour-6"] { top: 33%; left: 65%; /* 6. Säljledning */ }
.tour__map-canvas-button[data-target="tour-7"] { top: 40%; left: 86%; /* 7. Kundkommunikation */ }
.tour__map-canvas-button[data-target="tour-8"] { top: 67%; left: 65%; /* 8. Coachning & Mentorskap */ }

/* Map keys
*/
.tour__map-keys { }

.tour__map-key { }

.tour__map-key-button { }
.tour__map-key-button.is-active {
  background-color: gold;
}



/* Tour Steps
   ==================================================================== */

.tour__steps { }

.tour__step { }
.tour__step.is-active {
  background-color: skyblue;
}
