:root {
  --color-gray:         #94998F;
  --color-lightgray:    #F3F6F2;
  --color-darkgray:     #30332D;
  --color-blue:         #4882C3;
  --color-lightblue:    #D3E5EA;
  --color-darkblue:     #0F293A;
  --color-orange:       #D16041;
  --color-lightorange:  #EADBD6;
  --color-darkorange:   #EADBD6;
  --color-yellow:       #D1AA42;
  --color-lightyellow:  #E8E2C8;
  --color-darkyellow:   #302104;

  --body-background:  white;
  --body-color:       var(--color-darkgray);

  --rem-base:   19px;
  --rem-s:      0.7894736842rem; /* 15px @19 */
  --rem-l:      1.5789473684rem; /* 30px @19 */
  --rem-xl:     3.0526315789rem; /* 58px @19 */

  --page-padding:       40px;
  --content-padding-v:  30px;
  --content-padding-h:  40px;
  --content-width:      720px;
  --content-width--s:   480px;
  --content-width--l:   960px;

  --sans-family:  'Whitney SSm A', 'Whitney SSm B', monospace;
  --sans-weight:  400;
  --sans-bold:    800;

  --serif-family:   'Mercury SSm A', 'Mercury SSm B', monospace;
  --serif-weight:   300;
  --serif-bold:     500;

  --animation-duration:       240ms;
  --animation-duration-slow:  1.4s;
  --animation-function:       cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}
