:root {
  --color-gray:         #94998F;
  --color-lightgray:    #F3F6F2;
  --color-darkgray:     #30332D;
  --color-blue:         #4882C3;
  --color-lightblue:    #D3E5EA;
  --color-darkblue:     #0F293A;
  --color-orange:       #D16041;
  --color-lightorange:  #EADBD6;
  --color-darkorange:   #EADBD6;
  --color-yellow:       #D1AA42;
  --color-lightyellow:  #E8E2C8;
  --color-darkyellow:   #302104;

  --body-background:  white;
  --body-color:       var(--color-darkgray);

  /* Golden section modular scale
   * http://www.modularscale.com/?19&px&1.618&web&text
   */
  --rem-base-mobile:    100%;
  --rem-base-desktop:   118.75%;
  --rem-s:              0.75rem;          /* ~14px @19 / ~12px @16 */
  --rem-l:              1.6315789474rem;  /* ~31px @19 / ~26px @16 */
  --rem-xl:             2.6315789474rem;  /* ~50px @19 / ~42px @16 */


  --sans-family:  'Whitney SSm A', 'Whitney SSm B', sans-serif;
  --sans-weight:  400;
  --sans-bold:    800;

  --serif-family:   'Mercury SSm A', 'Mercury SSm B', serif;
  --serif-weight:   300;
  --serif-bold:     500;


  --page-padding:       2rem;
  --content-padding-v:  1.5rem;
  --content-padding-h:  2rem;
  --content-width:      40rem;
  --content-width--s:   34rem;
  --content-width--l:   52rem;


  --toolbar-height:         3.5rem;
  --toolbar-brand-width:   calc(var(--toolbar-height) * 3.4);


  --animation-duration:       240ms;
  --animation-duration-slow:  1.4s;
  --animation-function:       cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}
