:root {
  --color-gray:         #94998F;
  --color-lightgray:    #F3F6F2;
  --color-darkgray:     #30332D;
  --color-blue:         #4882C3;
  --color-lightblue:    #D3E5EA;
  --color-darkblue:     #0F293A;
  --color-orange:       #D16041;
  --color-lightorange:  #EADBD6;
  --color-darkorange:   #EADBD6;
  --color-yellow:       #D1AA42;
  --color-lightyellow:  #E8E2C8;
  --color-darkyellow:   #302104;

  --body-background:  white;
  --body-color:       var(--color-darkgray);

  --body-padding-h:   30px;
  --body-padding-v:   40px;

  --font-sans:    'Whitney SSm A', 'Whitney SSm B', monospace;
  --font-serif:   'Mercury SSm A', 'Mercury SSm B', monospace;

  --font-weight-normal:   300;
  --font-weight-bold:     500;

  --animation-duration:       240ms;
  --animation-duration-slow:  720ms;
  --animation-function:       cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}
