:root {

  /* Golden section modular scale
   * http://www.modularscale.com/?19&px&1.618&web&text
   */          /* ~14px @19 / ~12px @16 */  /* ~31px @19 / ~26px @16 */  /* ~50px @19 / ~42px @16 */ /* easeInOutCubic */
}
/* Foundation
 * See: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
 */

* {
  box-sizing: border-box;
  -webkit-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
}

html {
  font: 300 118.75%/1.6 'Mercury SSm A', 'Mercury SSm B', serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
body {
  margin: 0;
  background-color: white;
  color: #30332D;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}
iframe {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
  font-weight: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: .25em;
  margin-bottom: .5em;
}
p,
ul,
ol {
  margin-bottom: 1em;
}
strong {
  font-weight: 500;
  letter-spacing: -.02em;
}
small {
  font-size: 14px;
  font-size: 0.75rem;
}
a,
button {
  color: inherit;
  -webkit-transition: $global-transition-duration;
          transition: $global-transition-duration;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  &:focus {
    outline: 0;
  }
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
/* Float clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Font helpers */
.font-sans { font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif; }
.font-sans strong { font-weight: 800; }
.font-serif { font-family: 'Mercury SSm A', 'Mercury SSm B', serif; }
.font-serif strong { font-weight: 500; }
.font-s { font-size: 14px; font-size: 0.75rem; }
.font-l { font-size: 31px; font-size: 1.6315789474rem; }
.font-xl { font-size: 50px; font-size: 2.6315789474rem; }

/* Magic underline */
.magic-underline {
  text-decoration: none !important;
  display: inline-block;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0.15) 12%, rgba(0, 0, 0, 0.15) 17%, rgba(0, 0, 0, 0) 17%);
  background-image: linear-gradient(to top,
    rgba(0, 0, 0, 0) 12%,
    rgba(0, 0, 0, 0.15) 12%,
    rgba(0, 0, 0, 0.15) 17%,
    rgba(0, 0, 0, 0) 17%
  );
}

/* Card animation */
html.js .animate-in {
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

.header {
  background-color: #D3E5EA;
  background-image: -webkit-linear-gradient(280deg, rgba(211, 229, 234, 0.1) 0%, rgba(211, 229, 234, 0.03) 50%, rgba(15, 41, 58, 0.1) 50%, rgba(15, 41, 58, 0.03) 100%), url('../images/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD-(1-of-1)-5.jpg');
  background-image: linear-gradient(170deg, rgba(211, 229, 234, 0.1) 0%, rgba(211, 229, 234, 0.03) 50%, rgba(15, 41, 58, 0.1) 50%, rgba(15, 41, 58, 0.03) 100%),
    url('../images/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD-(1-of-1)-5.jpg');
  color: white;
  background-size: cover;
  background-position: bottom center;
}

/*
 * Brand
 */

.header .brand {
  width: 988px;
  width: 52rem;
  max-width: 80%;
  margin-top: 6vh;
}
.footer {
  background-color: #94998F;
  background-image: -webkit-linear-gradient(260deg, rgba(234, 219, 214, 0.1) 0%, rgba(234, 219, 214, 0.03) 50%, rgba(234, 219, 214, 0.1) 50%, rgba(234, 219, 214, 0.03) 100%), url('../images/photo-1428908728789-d2de25dbd4e2.jpg');
  background-image: linear-gradient(190deg, rgba(234, 219, 214, 0.1) 0%, rgba(234, 219, 214, 0.03) 50%, rgba(234, 219, 214, 0.1) 50%, rgba(234, 219, 214, 0.03) 100%),
    url('../images/photo-1428908728789-d2de25dbd4e2.jpg');
  color: white;
  background-size: cover;
  background-position: bottom center;
}

.footer .brand {
  width: 988px;
  width: 52rem;
  max-width: 80%;
  margin-bottom: 10vh;
}

.magic-underline {
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0.3) 12%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0) 15%);
  background-image: linear-gradient(to top,
    rgba(255, 255, 255, 0) 12%,
    rgba(255, 255, 255, 0.3) 12%,
    rgba(255, 255, 255, 0.3) 15%,
    rgba(255, 255, 255, 0) 15%
  );
}
.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 66px;
  height: 3.5rem;

  background-color: #94998F;
  box-shadow: 2px 0 3px black;
}

.toolbar .brand {
  position: absolute;
  top: 5px;
  left: 50px;

  width: 226px;
  width: 11.9rem;
}
.brand {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.brand__symbol {
  vertical-align: middle;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  opacity: 1;
  -webkit-transition: all 240ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition: all 240ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.brand__wordmark {
  vertical-align: middle;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 240ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition: all 240ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.brand .st0,
.brand .st1,
.brand .st2 {
  -webkit-transition: fill 1.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition: fill 1.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


/*
 * Horisontal variation
 */

.brand.brand--horisontal:after {
  content: "";
  display: table;
  clear: both;
}

.brand.brand--horisontal .brand__symbol {
  float: left;
  width: 25%;
  margin-bottom: 0;
  margin-left: 0;
}

.brand.brand--horisontal .brand__wordmark {
  float: right;
  width: 70%;
  margin-top: 7%;
}


/*
 * Colors
 */

/* Inverse wordmark for dark backgrounds */
.brand--inverse .brand__wordmark .st0 { fill: #F3F6F2; }

/* Dark gray (default) */
.brand__symbol .st0 { fill: #F3F6F2; }
.brand__symbol .st1 { fill: #30332D; }
.brand__symbol .st2 { fill: rgba(148, 153, 143, 0.5); }
.brand__wordmark .st0 { fill: #30332D; }

/* No badge */
.brand--nobadge .brand__symbol .st0 { fill: transparent; }
.brand--nobadge .brand__symbol .st2 { fill: #30332D; }
.brand--nobadge.brand--inverse .brand__symbol .st1 { fill: #F3F6F2; }
.brand--nobadge.brand--inverse .brand__symbol .st2 { fill: #F3F6F2; }
.card {
  background-size: cover;
  min-height: 100vh;
}


/*
 * Card header
 */

.card__header {
  position: relative;
  margin-top: 1em;
  padding-bottom: .5em;
  font-size: 50px;
  font-size: 2.6315789474rem;
  font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  font-weight: 800;
  line-height: 1.15;
}

.card__header:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1em;
  height: 3px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
}


/*
 * Card content
 */

.card__content {
  width: 760px;
  width: 40rem;
  max-width: 90%;
  padding: 28px 38px;
  padding: 1.5rem 2rem;
  margin: 0 auto;
}
.card__content:after {
  content: "";
  display: table;
  clear: both;
}

.card__content--s { width: 646px; width: 34rem; }
.card__content--l { width: 988px; width: 52rem; }

@media (max-width: 480px) {
  .card__content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}


/*
 * Layout variations
 */

@media (min-width: 481px) {
  .card__content--centered { text-align: center; }
  .card__content--centered .card__header:before { left: 50%; margin-left: -.5em; }
  .card__content--bordered { border-top: 3px solid; }
}

/*
 * Color variations
 */

.card--orange a,
.card--orange .card__header { color: #D16041; }
.card--orange .magic-underline {
  background-image: -webkit-linear-gradient(bottom, rgba(209, 96, 65, 0) 12%, rgba(209, 96, 65, 0.15) 12%, rgba(209, 96, 65, 0.15) 17%, rgba(209, 96, 65, 0) 17%);
  background-image: linear-gradient(to top,
    rgba(209, 96, 65, 0) 12%,
    rgba(209, 96, 65, 0.15) 12%,
    rgba(209, 96, 65, 0.15) 17%,
    rgba(209, 96, 65, 0) 17%
  );
}

.card--yellow a,
.card--yellow .card__header { color: #D1AA42; }
.card--yellow .magic-underline {
  background-image: -webkit-linear-gradient(bottom, rgba(209, 170, 66, 0) 12%, rgba(209, 170, 66, 0.15) 12%, rgba(209, 170, 66, 0.15) 17%, rgba(209, 170, 66, 0) 17%);
  background-image: linear-gradient(to top,
    rgba(209, 170, 66, 0) 12%,
    rgba(209, 170, 66, 0.15) 12%,
    rgba(209, 170, 66, 0.15) 17%,
    rgba(209, 170, 66, 0) 17%
  );
}

.card--blue a,
.card--blue .card__header { color: #4882C3; }
.card--blue .magic-underline {
  background-image: -webkit-linear-gradient(bottom, rgba(72, 130, 195, 0) 12%, rgba(72, 130, 195, 0.15) 12%, rgba(72, 130, 195, 0.15) 17%, rgba(72, 130, 195, 0) 17%);
  background-image: linear-gradient(to top,
    rgba(72, 130, 195, 0) 12%,
    rgba(72, 130, 195, 0.15) 12%,
    rgba(72, 130, 195, 0.15) 17%,
    rgba(72, 130, 195, 0) 17%
  );
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #94998F;

  background-color: rgba(148, 153, 143, 0.6);
}

.overlay.overlay--toolbar {
  top: 66px;
  top: 3.5rem;
}
.tour {

}

.tour__map {
}

.tour__map-image,
.tour__map-key {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.tour__map-image {
  max-width: 988px;
  max-width: 52rem;
}

.tour__map-key {
  color: #0F293A;
  list-style: decimal;

  margin-top: 28px;
  margin-top: 1.5rem;
  margin-bottom: 28px;
  margin-bottom: 1.5rem;
  max-width: 646px;
  max-width: 34rem;
}
.tour__map-key:after {
  content: "";
  display: table;
  clear: both;
}

.tour__map-key-item {
  font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  font-weight: 800;
  font-size: 14px;
  font-size: 0.75rem;

  display: list-item;
  float: left;
  width: 160px;
  padding-right: 2em;
  padding-left: 1em;
}
.tour__map-key-item:nth-child(odd) {
  clear: left;
}

.tour__map-key-item .button {
  color: #4882C3;
}
